/* Reset */
body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  border: none;

}

/* common */
button.reload {
  position: fixed;
  bottom: 50px;
  left: 50px;
  border-radius: 50%;
  background-image: url(images/reload.png);
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  text-indent: 9999px;
  cursor: pointer;
}

/* components */
body {
  background-color: rgb(253, 247, 234);
}

.game {
  width: 1100px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.game h1 {
  font-family: 'Amita', cursive;
  font-size: 50px;
  color: orangered;
}

.container {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.container .box {
  width: 305px;
  height: auto;
  cursor: pointer;
  opacity: 0;
}

.container .box.show{
  opacity: 1;
}

