<!DOCTYPE html>
<html>
    <head>
        <title>Plugins</title>
        <link rel="stylesheet" href="style.css">

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>

        <!-- jQuery Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="./libs/jquery.transit.min.js"></script>

        <link rel="stylesheet" href="./libs/slick/slick.css">
        <link rel="stylesheet" href="./libs/slick/slick-theme.css">
        <script src="./libs/slick/slick.min.js"></script>

        <link rel="stylesheet" href="./libs/fullpage/jquery.fullPage.css">
        <script src="./libs/fullpage/jquery.fullPage.js"></script>

        <link rel="stylesheet" href="./libs/fancybox/jquery.fancybox.css">
        <script src="./libs/fancybox/jquery.fancybox.min.js"></script>

        <!-- Library -->
        <script src="./libs/map.js"></script>
        <script src="./libs/imagesloaded.pkgd.min.js"></script>
        <script src="./libs/lazyload.min.js"></script>
        <script src="./libs/underscore-min.js"></script>
        <script src="./libs/anime.min.js"></script>

    </head>
    <body>

        <script src="script.js"></script>
    </body>
</html>
